:root {
    --title-size: 3vw;
    --title-weight: 300px; 
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 24px;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(63, 102, 200), rgb(133, 187, 235));
}

#container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-area: 1 / 2 / 2 / 4;
}

#header {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}

nav {
    display: grid;
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
}

.list {
    display: grid;
    grid-auto-flow: column;
    background-color: whitesmoke;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 12px;
    height: 400px;
    width: 300px;
    padding: 16px;
    box-shadow: -5px 5px 25px rgb(53, 63, 140);
}

span {
    font-size: clamp(40px, var(--title-size), 200px);
    font-weight: var(--title-weight);
}