* {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    height: 100vh;
    background-color: rgb(63, 122, 200);
}

h1 {
    display: grid;
    grid-area: 1 / 2 / 2 / 5;
    text-align: center;
    padding: 60px 0px;
    font-size: 40px;
    color: whitesmoke;
}

nav {
    display: grid;
    grid-area: 1 / 1 / 7 / 2;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(63, 122, 200), rgb(133, 187, 235));
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 25px;
}

#container {
    display: grid;
    grid-area: 2 / 2 / 7 / 6;
    padding: 40px;
}

.list {
    display: flex;
    background-color: whitesmoke;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 12px;
    padding: 16px;
    box-shadow: -5px 5px 25px rgb(53, 63, 140);
}

.title {
    font-size: 30px;
}